body {
    background-color: grey;
    margin: 0px;
}
.knapper {
	width: 100%;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	text-align: center;
    background-color: #2980b9;
    font-size: 1.8em;
}
.knapper a {
    margin-right: 2em;
}
.bildet:hover
{
	opacity: .5;
}
.nav a{
    font-family: sans-serif;
	color: white;
	text-decoration: none;
    font-family: 'Spectral SC', serif;
}
#awtop {
    width: 8em;
    float: left;
    margin-left: 22%;
    margin-top: 0.8em;
}
.knapp:hover
{
	opacity: .5;
}

h1,
h2 {
    font-family: "";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7em;
    margin: .5em;
    margin-top: 1.6em;
    margin-left: 0;
}

#main {
    padding-top: 30%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}

header {
    background-color: #3498db;
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: -50;
    position: fixed;
}

#header {
    margin-top: 5em;
    overflow: visible;
    color: #95feff;
    padding-top: 2.5em;
    font-size: 1.5em;
}

.lys {
    background-color: #69C0F0;
    background-image: url(bilder/BGTileLight.png);
    color: #105f84;
    z-index: 1;
}

.mork {
    background-color: darkblue;
    background-image: url(bilder/BGTileDark_2.png);
    color: #95feff;
    z-index: 1;
}

a:hover {
    color: #dfffff;
}

.menu:link {
    font-family: "Audiowide";
    font-size: 1.2em;
    color: #a1feff;
    text-decoration: none;
    margin-right: 2em;
    transition: opacity .2s;
}

.menu:active {
    color: #215e7a;
}

.menu:visited {
    color: #a1feff;
}

.menu:hover {
    opacity: .5;
}

.up {
    padding: 1em;
    transition: opacity .2s;
}

.up:hover {
    opacity: .5;
}