body {
    margin: 0px;
}
.nav {
    position: fixed;
    width: 100%;
}
.knapper {
	width: 100%;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	text-align: center;
    background-color: #2980b9;
    font-size: 1.8em;
}
.knapper a {
    margin-right: 1.5em;
}
.bildet:hover
{
	opacity: .5;
}
.nav a{
    font-family: sans-serif;
	color: white;
	text-decoration: none;
    font-family: 'Spectral SC', serif;
    
}
#awtop {
    width: 8em;
    float: left;
    margin-left: 15%;
    margin-top: 0.8em;
}
.knapp:hover
{
	opacity: .5;
}

h1,
h2 {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7em;
    margin: .5em;
    margin-top: 1.6em;
    margin-left: 0;
}

.wrapper {
    width: 70%;
    margin: auto;
    padding: 1em;
}

bakgrunn {
    background-color: #3498db;
    background-image: url(bilder/bigbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: fixed;
}
.jumbotron img {
    width: 400px;
}
.jumbotron {
    height: 600px;
    padding-top: 90px;
}

#header {
    color: white;
    padding-top: 2.5em;
    font-size: 1.5em;
}

.topp {
    background-color: #69C0F0;
    color: white;
    z-index: 1;
}

.bunn {
    color: white;
    z-index: 1;
}
.meme {
    width: 50%;
}
